.Component {
   display: flex;
   justify-content: center;
   margin-top: 10px;
   width: 79%;
}

.filterC {
   margin: 30px 15px;
   margin-bottom: 10px;
      --glow-color: rgb(255, 255, 255);
      --glow-color-border: rgb(147, 8, 239);
      --glow-spread-color: rgba(191, 123, 255, 0.781);
      --enhanced-glow-color: rgb(231, 206, 255);
      --btn-color: rgb(100, 61, 136);
      border: .2em solid var(--glow-color-border);
      padding: 1em 3em;
      color: var(--glow-color);
      font-size: 15px;
      font-weight: bold;
      background-color: var(--btn-color);
      border-radius: 1em;
      outline: none;
   
}

