.test{
  margin-top: -100px;
  height: 50vh;
  overflow-y: scroll;
}
.componentContainer {
  height: 100%;
}

.container {
  margin: 20px 10px;
  padding: 15px;
}

.btnPayPasarela {
  margin: 0 auto;
  margin-left: 0px;
  display: block;
  max-width: 100%;
  width: 750px;
  margin-bottom: 15px;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  background-color: #b311fe;
  color: white;
  border: none;
  font-size: 1.2rem;
}

.btnPayPasarela:hover {
  background-color: #f51ce7;
}
/*----------Media Queries (MEDIUM DEVICES) ----------*/
@media screen and (max-width: 1366px) {
  .test{
    margin-top: -80px;
    height: 50vh;
  }
  .MuiTableCell-root{
    font-size: .7em;
  }
}
/*----------Media Queries (MEDIUM DEVICES) ----------*/
@media screen and (min-width: 1367px) and (max-width: 1728px)  {

}
/*----------Media Queries (HIGH DEVICES) ----------*/
@media screen and (min-width: 2040px) and (max-width: 2161px)  {

}
