.productContainer {
  width: 100%;
  background: transparent;
  color: #ff2b91;
  padding: 15px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 15px -16px #000000;
  box-shadow: 0px 10px 15px -16px #000000;
}

.texContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: 4%;
  width: 100%;
}

.texContainer h2 {
  width: 100%;
}

.texContainer p {
  font-size: 1.2rem;
}

.productContainer h3 {
  margin: 0;
}

.photoContainer {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.photoContainer img {
  border-radius: 15px;
  height: 100%;
}

.priceCartContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.priceCartContainer button {
  background-color: #008000;
  padding: 10px 13px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.priceCartContainer button:hover {
  background-color: #02d302;
}

.btnsContainer {
  display: flex;
  justify-content: space-around;
}
.btnPlusMinus{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
/* .btnPlusMinus span {
  margin: 0 8px;
  font-size: 20px;
} */

.btnPlusMinus button {
  background: var(--btn-color); 
  border-radius: 5px;
  border: 2px solid transparent;
  color: aliceblue;
}

/* .btnPlusMinus button:hover {
  background-color: #008000;
}

.btnPlusMinus button:active {
  color: white;
} */

.btnDelete button {
  margin-left: 20%;
  background-color: white;
  padding: 10px 13px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.btnDelete button:hover {
  background-color: #b40202;
  color: white;
}

.btnDelete button:active {
  color: #343a40;
}
