.containerProductsGlobal{
    display: flex;
    padding-top: 10px;
}
.containerProductsGlobal2{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
}