.forgotContainer{
    height: 66.5vh;
    position: relative;
    display: flex;
    margin-top: 6%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.titleForgot{
    font-size: 4em;
}
.txtForgot{
    font-size: 2em;
}
.forgotForm input{
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(152, 40, 204);
}
.btnSubmitForgot{
    margin: auto;
    margin-top: 20px;
    margin-left: 95px;
}
