.mainAbout {
  width: 100%;
  height: 74.9vh;
  margin: auto;
  margin-top: 2%;
  display: flex;
}

/* .parendAbout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
} */

/* .div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; } */
/* .div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; } */
.parendAbout {
  margin-left: 18%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 10%;
}



.cardAbout {
  margin: auto;
  position: relative;
  width: 25vh;
  height: 35vh;
  font-family: 'Square Peg', cursive;
  color: var(--btn-color);
  text-shadow: 0 3px 3px var(--glow-color);
  background: #f0f0f0;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
  margin-top: 5%;
  box-shadow: 0px 0px 38px 3px rgba(151, 22, 232, 0.73);
  -webkit-box-shadow: 0px 0px 38px 3px rgba(151, 22, 232, 0.73);
  -moz-box-shadow: 0px 0px 38px 3px rgba(151, 22, 232, 0.73);
  transition: all 0.2s ease;
}

.cardAbout:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
  background-color: #4bb8ff;
  box-shadow: 0px 0px 38px 3px rgba(151, 22, 232, 0.73);
  -webkit-box-shadow: 0px 0px 38px 3px rgba(151, 22, 232, 0.73);
  -moz-box-shadow: 0px 0px 38px 3px rgba(151, 22, 232, 0.73);
  transition: all 0.2s ease;
}

.cardAbout .blob {
  height: 10px;
  width: 75%;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  background-color: #4bb8ff;
  visibility: visible;
  transition: all 0.3s;
}

.cardAbout:hover .blob {
  height: 0;
}

.cardAbout .img {
  display: flex;
  margin: 30px auto 10px auto;
  width: 60%;
  height: 55%;
  background-color: #4bb8ff;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.cardAbout:hover .img {
  width: 100%;
  height: 70%;
  border-radius: 10px 0 0;
  margin: 0 auto;
  background-color: #f0f0f0;
  z-index: 99999;
}

.cardAbout h2 {
  padding: 15px 10px;
  font-size: 25px;
  transition: all 0.1s;
  z-index: -99;
  line-height: 17px;
}

.cardAbout span {
  font-size: 18px;
}

.cardAbout:hover h2 {
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: all 0.5s;
}

.cardAbout>p {
  position: absolute;
  bottom: 15px;
  opacity: 0%;
  visibility: collapse;
}

.cardAbout>p>svg {
  padding: 5px;
}

.cardAbout:hover>p {
  position: absolute;
  bottom: 15px;
  left: 35px;
  opacity: 1;
  visibility: visible;
  transition: all 0.1s;
}

.card1 {
  background-image: url('../../assets/fotoLea.png');
  background-position: 53%;
  background-position-y: 43%;
  background-size: 150%;
  background-repeat: no-repeat;
}

.card2 {
  background-image: url('../../assets/fotoAngelo.jpg');
  background-position: 53%;
  background-position-y: 17%;
  background-size: 128%;
  background-repeat: no-repeat;
}

.card3 {
  background-image: url('../../assets/fotoMati.png');
  background-position: 53%;
  background-position-y: 104%;
  background-size: 111%;
  background-repeat: no-repeat;
}

.card4 {
  background-image: url('../../assets/fotoRich.png');
  background-position: 53%;
  background-position-y: 17%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.iconCard {
  cursor: pointer;
  z-index: 10;
}

.iconeZoneCard {
  width: 70%;
  margin: auto;
}

.iconLinkedIn {
  fill: #f0f0f0;
}
.titleAbout{
  margin: auto;
  margin-left: 40%;
  position: absolute;
  font-size: 2em;
}

@media screen and (min-width: 500px) and (max-width: 872px) {
  .mainAbout {
    width: 40%;
    height: 100%;
    margin-top: 2%;
  }

  .parendAbout {
    margin-left: 18%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 10%;
  }
  .titleAbout{
    margin: auto;
    margin-left: 28%;
    position: relative;
    font-size: 2em;
  }
}

@media screen and (min-width: 873px) and (max-width: 1366px) {
  .mainAbout {
    width: 100%;
    height: 56.3vh;
    margin-top: 2%;
  }

  .parendAbout {
    margin-left: 15%;
  }

  .cardAbout {
    width: 30vh;
    height: 45vh;
  }
  .titleAbout{
    margin: auto;
    margin-left: 35%;
    position: relative;
    font-size: 1.5em;
  }
}

/*----------Media Queries (MEDIUM DEVICES) ----------*/
@media screen and (min-width: 1367px) and (max-width: 1728px) {
  .parendAbout {
    margin-left: 12%;
  }
}

/*----------Media Queries (UHD DEVICES) ----------*/
@media screen and (min-width: 2040px) and (max-width: 2160px) {
  .parendAbout {
    margin-left: 7%;
  }

  .mainAbout {
    height: 77.9vh;
  }
}
